<div class="row">
    <div class="col-4">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Available Spaces</th>
            </tr>
            </thead>
            <tbody>
            {% for date, spaces in available_spaces %}
                <tr>
                    <td>{{ date }}</td>
                    <td>
                        <span {% if spaces == 'no free space' %}class="text-danger"{% endif %}>{{ spaces }}</span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>